@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --primary-color:white;
    --secondary-color:white;
}
body{
    background-color: var(--primary-color);
}
.header{
    width: 100%;
    margin :2%;
    margin-bottom: 30px;
}
.inputText{
   
    border: 1px solid black;
    padding: 5px 200px 5px 200px;
    font-size: 1rem;
    background-color: white;
    width: 65%;
}
.inputText::placeholder{
    color: white;
}
.search-btn button{
    background-color: var(--secondary-color);
    box-shadow: inset 0 5px 10px var(--primary-color);
    padding: 0.2rem 0.5rem;
    border-radius: 0 2rem 2rem 0;
    color: white;
    font-size: 1rem;
    outline: none;
    border: 1px solid var(--primary-color);
}
.container{
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.movies{
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    width: 250px;
    background-color: rgb(224, 223, 223);
    margin: 1rem;
   
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.movies .Poster{
    width: 100%;
    height: 150px;
}
.movie-Details{
    display: flex;
    flex-direction: column;
    
}
.movie-Details .box{
    width: 100%;
    font-size: 15px;
    padding-bottom: 20px;
    min-height: 30px;
}
.checked {color: orange;
}
.star{
    padding: 0px 20px ;
}

.movie-details .title{
    width: 160px;
    font-size: 15px;
    
}

.movie-details:hover .overview{
    transform: translateY(0%);
}
.rating{
    background-color: var(--primary-color);
    width: 35px;
    height: 35px;
    
    display: flex;
    font-weight: bold;
    border: 1px solid var(--primary-color);
    box-shadow: inset 0 5px 5px rgba(0,0,0,0.5);
    position: absolute;
    right: 5px;
    bottom: 5px;
}
@media (max-width:900px){
    .header{
        background-color: var(--secondary-color);
        height: 180px;
    }
    nav ul{
        display: flex;
        flex-direction: column;
    }
    nav ul li{
        padding-top: 10px;
    }
    .search-btn{
        width: 200px;
        margin-right: 100px;
    }
}
.notfound{
    font-size: 40px;
    font-weight: bold;
}
.form-control{
	border-radius: 7px;
	border: 1.5px solid #E3E6ED;

}
input.form-control:focus{
	box-shadow: none;
	border: 1.5px solid #E3E6ED;
	background-color: #F7F8FD;
	letter-spacing: 1px;
}

.card{
	width: 500px;
	border: none;
	border-radius: 20px;
}
.form-control{
	border-radius: 7px;
	/* border: 1.5px solid #E3E6ED; */
}

.btn{
    outline: none;
    width: 50px;
    text-align: center;
    height: 40px;
    color: white;
    background-color: #7189E0;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;

}
a{
    text-decoration: none;
    color: black;
}
.search{
    width: 100%;
  margin: auto;
}
.search-input{
    width: 90%;
    padding-left: 10px;
    height: 40px;
    outline: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: none;
    border: 1px solid #dbd7d7;
}